.cabecalho{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    text-align: center;
    margin: 7%;
    
}
.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white; 
    text-align: center;  
}
.link {
    color: rgb(200, 154, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.car { 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(42, 10, 57);
    margin: 100px;
    padding: 20px;
}
  .button2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(200, 154, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px;
}
  a:link, a:visited {
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
  a:hover, a:active {
    background-color:rgb(152, 116, 160);
    color:white;
}
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
}
#menu-h {
    background-color: rgb(42, 10, 57);
}
#menu-h ul {
    max-width: 320px;
    list-style: none;
    padding: 0;
}
#menu-h ul li {
  display: inline;
}
#menu-h ul li a {
    color: aliceblue;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}
nav{
    text-align: center;
}
footer {
  background-color:rgb(42, 10, 57);
  text-align: center;
  position: absolute;
    bottom:0%;
    width: 100%;
}

